/* FONTS */
/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v3-latin-regular.woff2') format('woff2'),
    url('../fonts/inter-v3-latin-regular.woff') format('woff');
}
/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v3-latin-500.woff2') format('woff2'),
    url('../fonts/inter-v3-latin-500.woff') format('woff');
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v3-latin-700.woff2') format('woff2'),
    url('../fonts/inter-v3-latin-700.woff') format('woff');
}
/* inter-600 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-v3-latin-600.woff2') format('woff2'),
    url('../fonts/inter-v3-latin-600.woff') format('woff');
}
/* VARIABLES */
:root {
  --dark: #1c1c1f;
  --box-shadow: #ff7300;
  --footer-bottom-bg: #1a191c;
  --footer-text: #d2d2d2;
  --white: #fff;
  --grey-text: #a6a6a6;
  --group-text: #3d3d3d;
  --city-bg: #f9f9f9;
  --blue-bg: #01468d;
  --line-bg: #ebebeb;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--dark);
}

.container {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */
.site-header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: white;
  box-shadow: 9px 12px 12px rgb(0 0 0 / 5%);
}
.site-header__container {
  max-width: 1150px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.site-logo__img {
  display: block;
}
.site-header__list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}
.site-header__item:not(:last-child) {
  margin-right: 40px;
}
.site-header__link {
  padding-bottom: 4px;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--dark);
  transition: all 0.3s ease-in-out;
}
.site-header__link:hover {
  box-shadow: inset 0px -3px 0px var(--box-shadow);
}
.navbar-toggler {
  display: none;
  position: absolute;
  right: 16px;
  border: none;
  outline: none;
  background: transparent;
  background-image: url(../images/navbar-toggler.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 24px;
  height: 24px;
}

/* FOOTER */
.main-footer {
  padding-top: 136px;
  padding-bottom: 118px;
  background-color: var(--dark);
}
.site-footer__container {
  max-width: 1150px;
  display: flex;
}
.footer-head {
  width: 205px;
  display: flex;
  flex-direction: column;
}
.footer-list {
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.footer-item:not(:last-child) {
  margin-right: 80px;
}
.footer__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer__link {
  margin: 0;
  margin-bottom: 13px;
  text-decoration: none;
  font-size: 13px;
  line-height: 16px;
  color: var(--footer-text);
  white-space: nowrap;
}
.footer-tel--link {
  margin-top: auto;
  margin-bottom: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
}
.footer-address {
  font-size: 13px;
  line-height: 18px;
  color: var(--footer-text);
  font-style: normal;
}
.footer-title {
  margin: 0;
  margin-bottom: 18px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
}

/* FOOTER-BOTTOM */
.footer-bottom {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--footer-bottom-bg);
}
.footer-bottom__container {
  max-width: 1150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}
.footer-bottom__item:not(:last-child) {
  margin-right: 20px;
}
.footer-bottom__link {
  text-decoration: none;
  font-size: 13px;
  line-height: 16px;
  color: var(--footer-text);
}
.copyrighting {
  margin: 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: var(--footer-text);
}

/* HERO */

.hero {
  padding-top: 173px;
  padding-bottom: 70px;
}
.hero__container {
  max-width: 872px;
  position: relative;
}
.hero__title {
  width: 600px;
  margin: 0;
  margin-bottom: 70px;
  font-size: 48px;
  line-height: 58px;
}
.hero-progress {
  margin-bottom: 70px;
  display: flex;
  position: relative;
}
.hero-progress::after {
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: var(--footer-text);
  position: absolute;
  bottom: 0;
}
.hero-progress__title {
  margin: 0;
  margin-right: 40px;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 8px;
  z-index: 99;
  box-shadow: inset 0px -3px 0px var(--box-shadow);
}

.hero-progress__text {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  color: var(--grey-text);
}

.hero-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
}

.hero-work__text,
.hero-mission__text,
.hero-wants__text {
  margin: 0;
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 30px;
}
.hero-work,
.hero-mission {
  margin-bottom: 30px;
}

.hero-work__title,
.hero-mission__title,
.hero-wants__title {
  margin: 0;
  position: absolute;
  left: -264px;
}

/* MAC-SECTION */
.mac {
  margin-bottom: 95px;
}
.mac__big {
  display: block;
  background-image: url(../images/big-mac.png);
  width: 1400px;
  height: 752px;
  margin-bottom: 30px;
}

.mac__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
}

.mac__mini {
  display: block;
  background-image: url(../images/mac-mini.png);
  width: 454px;
  height: 256px;
}

.final {
  margin-bottom: 180px;
}

/* GROUP_SECTION */

.group__container {
  max-width: 1150px;
  color: var(--group-text);
}
.group-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}
.group-item:not(:last-child) {
  margin-right: 100px;
}
.group-item:last-child {
  margin-left: auto;
}
.group__list {
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
  list-style-type: none;
}
.group__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  white-space: nowrap;
}
.group__item:not(:last-child) {
  margin-bottom: 16px;
}
.group-btn {
  padding: 0;
  margin-bottom: 16px;
  border: none;
  background-color: transparent;
  outline: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--box-shadow);
}
.group-date,
.group-plan {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--box-shadow);
}
.group-time {
  display: block;
  margin-bottom: 34px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}
.group-day {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}
.group-line {
  margin-bottom: 70px;
  width: 100%;
  height: 1px;
  background: var(--footer-text);
}

/* TAGS */
.tags {
  margin-bottom: 55px;
}
.tags__container {
  max-width: 1150px;
}
.tags__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.tags__item {
  margin-right: 15px;
  margin-bottom: 15px;
}
.tags__link {
  padding: 5px 10px;
  background: #f1f1f1;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  white-space: nowrap;
  color: var(--group-text);
}
.orange {
  color: var(--box-shadow);
}
.grey {
  color: var(--grey-text);
}

/* CITY */

.city {
  padding-top: 120px;
  padding-bottom: 180px;
  background-color: var(--city-bg);
}
.city__container {
  max-width: 1150px;
}
.city__title {
  margin: 0;
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 29px;
}
.city__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
}
.city__link {
  margin-bottom: 16px;
  display: block;
  width: 358px;
  height: 277px;
  background-image: url(../images/fox.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--white);
}
.blue {
  background-color: var(--blue-bg);
}
.city__text {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 808px;
  }

  /* HEADER */
  .site-header__link {
    font-size: 14px;
    line-height: 22px;
  }
  /* HERO */
  .hero {
    padding-bottom: 50px;
  }
  .hero__container {
    max-width: 648px;
  }
  .hero__title {
    margin-bottom: 49px;
    width: 367px;
    font-size: 30px;
    line-height: 36px;
  }
  .hero-progress {
    margin-bottom: 50px;
  }
  .hero-title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 29px;
  }
  .hero-work__title,
  .hero-mission__title,
  .hero-wants__title {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 19px;
    position: unset;
  }
  .hero-work__text,
  .hero-mission__text,
  .hero-wants__text {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
  }
  .hero-work,
  .hero-mission {
    margin-bottom: 20px;
  }
  /* MAC */
  .mac {
    margin-bottom: 73px;
  }
  .mac__big {
    width: 768px;
    height: 412px;
    margin-bottom: 20px;
    background-image: url(../images/big-mac-tablet.png);
  }
  .mac__mini {
    width: 374px;
    height: 201px;
  }
  .mac__list {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .final {
    margin-bottom: 50px;
  }

  /* GROUP */
  .group__container {
    max-width: 648px;
  }
  .group-list {
    display: block;
  }
  .group-item {
    position: relative;
  }
  .group-item::after {
    margin-bottom: 15px;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: var(--line-bg);
    position: absolute;
    bottom: -15px;
  }
  .group-item:not(:last-child) {
    margin-right: 0px;
  }

  .group-item:last-child {
    margin-top: 30px;
    display: flex;
  }
  .group-item__section {
    flex-basis: 50%;
  }
  .group-btn {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    line-height: 22px;
  }

  .group__list {
    padding: 0 18px;
    margin: 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .group__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .group__item {
    margin-bottom: 30px;
  }
  .group-btn::after {
    content: '';
    background-image: url(../images/arrow.svg);
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .group-line {
    margin-bottom: 30px;
  }

  .tags {
    margin-bottom: 70px;
  }
  .tags__container {
    max-width: 648px;
  }

  /* CITY */
  .city__list {
    gap: 15px;
  }
  .city__link {
    width: 246px;
    height: 200px;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }

  /* HEDAER */
  .navbar-toggler {
    display: block;
  }
  .site-header__list {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateX(100%);
    flex-direction: column;
    padding: 100px 128px;
    background-color: #f0f8fff5;
    align-items: center;
  }
  .site-header__link {
    font-size: 30px;
    line-height: 60px;
  }
  .site-header__item:not(:last-child) {
    margin-right: 0;
  }
  /* HERO */
  .hero__title {
    width: 343px;
  }

  .hero-progress__title {
    margin-right: 10px;
    padding: 10px 15px;
    background: #ff7300;
    border-radius: 5px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--white);
  }
  .hero-progress__text {
    padding: 10px 15px;
    background: #f4f7f8;
    border-radius: 5px;

    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }
  .hero-progress::after {
    bottom: -18px;
  }
  /* MAC */
  .mac__big {
    display: none;
  }
  .mac__mini {
    width: 343px;
    height: 184px;
  }
  .mac__list {
    grid-template-columns: 1fr;
  }

  /* GROUP */
  .group-item:last-child {
    flex-direction: column;
  }

  /* TAGS */
  .tags__list {
    flex-direction: column;
  }
  /* CITY */
  .city__list {
    grid-template-columns: 1fr 1fr;
  }
  .city__link {
    width: 164px;
    height: 120px;
  }
}
