/* FONTS */
/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v3-latin-regular.woff2') format('woff2'),
    url('../fonts/inter-v3-latin-regular.woff') format('woff');
}
/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v3-latin-500.woff2') format('woff2'),
    url('../fonts/inter-v3-latin-500.woff') format('woff');
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v3-latin-700.woff2') format('woff2'),
    url('../fonts/inter-v3-latin-700.woff') format('woff');
}
/* inter-600 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-v3-latin-600.woff2') format('woff2'),
    url('../fonts/inter-v3-latin-600.woff') format('woff');
}
/* VARIABLES */
:root {
  --dark: #1c1c1f;
  --box-shadow: #ff7300;
  --footer-bottom-bg: #1a191c;
  --footer-text: #d2d2d2;
  --white: #fff;
  --grey-text: #a6a6a6;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--dark);
}

.container {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */
.site-header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: white;
  box-shadow: 9px 12px 12px rgb(0 0 0 / 5%);
}
.site-header__container {
  max-width: 1150px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-logo__img {
  display: block;
}
.site-header__list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}
.site-header__item:not(:last-child) {
  margin-right: 40px;
}
.site-header__link {
  padding-bottom: 4px;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--dark);
  transition: all 0.3s ease-in-out;
}
.site-header__link:hover {
  box-shadow: inset 0px -3px 0px var(--box-shadow);
}

/* FOOTER */
.main-footer {
  padding-top: 136px;
  padding-bottom: 118px;
  background-color: var(--dark);
}
.site-footer__container {
  max-width: 1150px;
  display: flex;
}
.footer-head {
  width: 205px;
  display: flex;
  flex-direction: column;
}
.footer-list {
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style-type: none;
  display: flex;
}
.footer-item:not(:last-child) {
  margin-right: 80px;
}
.footer__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer__link {
  margin: 0;
  margin-bottom: 13px;
  text-decoration: none;
  font-size: 13px;
  line-height: 16px;
  color: var(--footer-text);
}
.footer-tel--link {
  margin-top: auto;
  margin-bottom: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
}
.footer-address {
  font-size: 13px;
  line-height: 18px;
  color: var(--footer-text);
  font-style: normal;
}
.footer-title {
  margin: 0;
  margin-bottom: 18px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
}

/* FOOTER-BOTTOM */
.footer-bottom {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--footer-bottom-bg);
}
.footer-bottom__container {
  max-width: 1150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}
.footer-bottom__item:not(:last-child) {
  margin-right: 20px;
}
.footer-bottom__link {
  text-decoration: none;
  font-size: 13px;
  line-height: 16px;
  color: var(--footer-text);
}
.copyrighting {
  margin: 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: var(--footer-text);
}

/* HERO */

.hero {
  padding-top: 173px;
  padding-bottom: 70px;
}
.hero__container {
  max-width: 872px;
  position: relative;
}
.hero__title {
  width: 600px;
  margin: 0;
  margin-bottom: 70px;
  font-size: 48px;
  line-height: 58px;
}
.hero-progress {
  margin-bottom: 70px;
  display: flex;
  position: relative;
}
.hero-progress::after {
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: var(--footer-text);
  position: absolute;
  bottom: 0;
}
.hero-progress__title {
  margin: 0;
  margin-right: 40px;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 8px;
  z-index: 99;
  box-shadow: inset 0px -3px 0px var(--box-shadow);
}

.hero-progress__text {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  color: var(--grey-text);
}

.hero-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
}

.hero-work__text,
.hero-mission__text,
.hero-wants__text {
  margin: 0;
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 30px;
}
.hero-work,
.hero-mission {
  margin-bottom: 30px;
}

.hero-work__title,
.hero-mission__title,
.hero-wants__title {
  margin: 0;
  position: absolute;
  left: -222px;
}
